section#console {
    background-color: #000;
    color: #fff;
    padding: 10px;
    margin: 10px 0;
    font-family: monospace;
    font-size: 12px;
    line-height: 1.5;
    overflow: auto;
    height: 300px;
}

span.log {
    display: block;
    width: 100%;
}